* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azulmar: #1E455F;
    --azulesc: #003D73;
    --azulclr: #1B77C2;
    --azulclr2: #135a94;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #C1C3C8;


    --fonte: 'Lato', sans-serif;

}

body {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--fonte);
}

.esquerdo {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.direito {
    background-color: var(--azulesc);
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

.direito img {
    width: 90%;
    height: 100%;


}

.logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.imagem1 {
    /*height: 110px;*/
    width: 60%;


}

.imagem2 {
    display: none;
    /*background-color: #1E455F;*/
    /*height: 200%;*/
    width: 100%;
}

.main {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;

    padding: 10px 10px;

}

.posicionamento_main {
    width: 60%;
    height: 90%;
}

.formulario {
    width: 100%;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
    align-content: stretch;



}

form label {
    padding: 0 0 5px 0;
}

form input {
    font-size: 13px;
    color: var(--cinza);
    width: 100%;
    height: 40px;
    padding-left: 8px;
    text-indent: 5px;

}





.olho {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.olho img {
    width: 20px;
    height: 15px;
    position: absolute;
    right: 15px;
}



.checkbox {
    display: flex;
    justify-content: start;
    font-size: 15px;
    color: var(--cinza);
    width: 100%;
    align-items: baseline;
    padding: 8px 0;
}

.checkbox input {
    width: 6%;
    height: 6%;
}

.botao {
    padding: 20px 0 8px 0;
    width: 100%;


}

.btn {
    background-color: var(--azulclr);

    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn a {
    color: var(--branco);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--azulclr2);
    text-decoration: none;
    cursor: pointer;
}


.esqueceu {
    width: 100%;
    text-align: right;
    font-size: 15px;
    color: var(--cinza);
}

.clique {
    text-align: end;
}

.clique a {
    text-decoration: none;
    padding-left: 5px;
    color: var(--azulmar);
}




.desenvolvido {
    width: 100%;
    height: 5vh;
    font-size: 16px;
    color: var(--cinza);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
}

.desenvolvido img {
    padding-left: 3px;
}

@media screen and (max-width: 768px) {
    .direito {
        display: none;
    }

    .esquerdo {
        margin-top: 140px;
    }

    .imagem1 {
        display: none;
    }

    .imagem2 {
        display: flex;
        margin: 60px 0;
        justify-content: center;
        align-items: flex-end;
        
    }

    .imagem2 img {
        width: 60%;
    }

    body {
        background-image: url(../img/Fundo\ dash.png);
        background-repeat: no-repeat;
    }

    form {
        width: 100%;
    }

    form input {
        color: var(--azulesc);
    }

    .checkbox {
        color: var(--azulesc);
    }

    .esqueceu {
        color: var(--preto);
    }

    .desenvolvido {
        display: none;
    }
}